.navbar {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 2px solid #000000;
    z-index: 1;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    max-width: auto;
    }

.navbar-logo {
color: #fff;
justify-self: start;
margin-left: 20px;
cursor: crosshair;
text-decoration: none;
font-size: 2rem;
display: flex;
align-items: center;
}